@using RoleProject.View_Model
@model RoleProject.Models.Car

@{
    ViewBag.Title = "Details";
    cars_and_properties list_of_properties = ViewBag.list_of_properties;
    Dates_For_Car Dates = ViewBag.list_of_Recived_Date;
}

<h2>Details</h2>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.photo_Car)
        </dt>
        <dd>
            <img src="~/images/@Model.photo_Car" width="150" height="150" style="border-radius:50%" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type_Of_Car)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type_Of_Car)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Car_Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car_Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Car_Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car_Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Chassis_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chassis_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price_in_day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price_in_day)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Agince_Of_Car.name)
        </dt>
        <dt>

            @Html.DisplayFor(model => model.Agince_Of_Car.name)
        </dt>





    </dl>
</div>
<table class="table table-hover">
    <tr>
        <th>
            Properties
        </th>
    </tr>
    <tr>
        @foreach (var properities in list_of_properties.Property_Name)
        {
        <td>
        @properities
        </td>
         }
     </tr>

    </table>
    <table class="table table-hover">
        <tr>
            <th>
                Start  Recived  Date
            </th>
            <th>
                End Recived Date
            </th>
            <th>
                Client
            </th>
        </tr>
        <tr>
            @foreach (var start in Dates.Start_Recive)
            {
            <td>
                @start
            </td>

        }
            @foreach (var End in Dates.End_Recive)
            {
                <td>
                    @End
                </td>

            }
            @foreach (var client in Dates.Clients)
            {
                <td>
                    @client.Name
                </td>

            }
            </tr>




        </table>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Car_Id }) |
    @Html.ActionLink("Back to List", "List_Of_All")
</p>
