@model IEnumerable<RoleProject.Models.Car>

@{
    ViewBag.Title = "Index";

}

<h2>Cars in Agince</h2>

<p>
    @Html.ActionLink("Create New", "Create")


</p>
@* sorting *@

@Ajax.ActionLink("sorting", "sorting", "Cars", new AjaxOptions
{
    HttpMethod = "get",
    UpdateTargetId = "create_2",
    InsertionMode = InsertionMode.Replace
},
new
{
     @class = "text-danger",

})



@* search *@

@Ajax.ActionLink("Search", "Search", "Cars", new AjaxOptions
{
    HttpMethod = "get",
    UpdateTargetId = "create_2",
    InsertionMode = InsertionMode.Replace
},
new
{
     @class = "text-danger",

})
<div id="create_2"></div>
<table class="table table-hover ">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.photo_Car)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type_Of_Car)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Car_Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Car_Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Chassis_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price_in_day)
        </th>

        <th>Statuis</th>
        <th>
            Others
        </th>


    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="~/images/@item.photo_Car" width="150" height="150" style="border-radius:50%" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type_Of_Car)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car_Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car_Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chassis_No)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price_in_day)
            </td>

            @*@if (item.Is_reseved == true)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.CLIENT.Name)
                    </td>
                }*@



            
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Car_Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Car_Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Car_Id })|
                @Html.ActionLink("Recive", "Recive", new { id = item.Car_Id }) |
                @Html.ActionLink("Cancel Recive", "CancelRecive", new { id = item.Car_Id })
            </td>
        </tr>
    }

</table>
@section scripts{


    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}